body {
  background-color: #666;
  font-family: Arial;
  color: white;
}

h2 {
  color: #ddd;
  font-family: Arial;
}

h3 {
  color: #40e0d0;
}

a {
    color: #aff;
}

code {
  "Lucida Console", Monaco, monospace;
}

#white-hollow {
  fill: white;
}
