body {
  background-color: #666;
  font-family: Arial;
  color: white;
  border: double 5px white;
  border-radius: 10em;
  text-align: center;
}

code {
  text-align: left;
  color: lime;
}

h2 {
  color: #ddd;
  font-family: Arial;
}

h3 {
  color: #40e0d0;
}

a {
    color: #aff;
}

code {
  "Lucida Console", Monaco, monospace;
}
