@font-face {
  font-family: 'Arial-Hollow';
  src:
    url('fonts/arial-black-hollow.woff') format('woff'),
    url('fonts/arial-black-hollow.svg') format('svg'),
    url('fonts/arial-black-hollow.ttf') format('truetype');
}

body {
  width: 800px;
  min-height: 800px;
  background-color: #666;
  font-family: Arial;
  color: white;
  border: double 5px white;
  border-radius: 6em;
  text-align: center;
  margin:0 auto;
}

button {
  font-size: 100%;
  color: white;
  border: 1px solid white;
  border-radius: 1em;
  padding: 10px 10px;
  background-color: #666;
  text-decoration: none;
  outline: none;
}

button:hover {
  color: white;
  background-color: #888;
}

button::-moz-focus-inner {
  border: 0;
}

.buttons {
  text-align: left;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 640px;
}

.links {
    white-space: pre;
    width: 640px;
}

.big_link {
  font-family: 'Arial-Hollow';
  text-align: center;
  color: aqua;
  font-size: 200%;
  width: 640px;
}

#bottom {
  white-space: pre;
  margin-top: 40px;
  margin-bottom: 40px;
}

.text {
  width: 640px;
  text-align: left;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hollow-text {
  font-family: 'Arial-Hollow';
  width: 640px;
  text-align: left;
  margin: 0 auto;
  color: aqua;
  font-size: 200%;
  margin-top: 20px;
  margin-bottom: 20px;
}

#model-viewer-title {
  font-size: 200%;
}

#python {
  width: 640px;
  font-family: monospace;
  text-align: left;
  color: lime;
  margin:0 auto;
}

#title {
  color: white;
  font-family: 'Arial-Hollow';
  font-size: 400%;
  margin-top: 40px;
  margin-bottom: 40px;
}

h2 {
  color: aqua;
  margin-top: 40px;
  margin-bottom: 40px;
}

a {
  color: aqua;
}

iframe {
  width: 640px;
  height: 320px;
  border: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
}
